/.idea/
/.idea/*
parcel-delivery-app.iml

/admin-service/.mvn/
/admin-service/mvnw
/admin-service/mvnw.cmd
/admin-service/target/
/admin-service/admin-service.iml

/auth-server/.mvn/
/auth-server/mvnw
/auth-server/mvnw.cmd
/auth-server/target/
/auth-server/auth-server.iml

/couriers-service/.mvn/
/couriers-service/mvnw
/couriers-service/mvnw.cmd
/couriers-service/target/
/couriers-service/couriers-service.iml

/order-service/.mvn/
/order-service/mvnw
/order-service/mvnw.cmd
/order-service/target/
/order-service/order-service.iml

/users-service/.mvn/
/users-service/mvnw
/users-service/mvnw.cmd
/users-service/target/
/users-service/users-service.iml
